<!DOCTYPE html>
<html>
    <head>
        <title>Convert a pdf</title>
    </head>
    <body>
        <p><b>webpdf2text</b> uses <i>pdftotext</i> to convert a pdf to text and
        display it to you without you ever actually downloading the pdf.</p>
        
        <p>I thought this might be handy for those times when I don't want to 
        download a huge pdf, but I do want some information that's in it.</p>
        
        <form method='post'>
            <input type='text' name='pdf' size='120' value='http://biorxiv.org/content/biorxiv/early/2016/12/12/065383.full.pdf'>
            <input type='submit' value='convert'>
        </form>
    </body>
</html>